---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns-kubevirt
  namespace: external-dns-kubevirt
  labels:
    app.kubernetes.io/name: external-dns-kubevirt
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: external-dns-kubevirt
  template:
    metadata:
      labels:
        app.kubernetes.io/name: external-dns-kubevirt
    spec:
      serviceAccountName: external-dns-kubevirt
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: controller
          image: ghcr.io/michaeltrip/external-dns-kubevirt:v1.0.1
          imagePullPolicy: IfNotPresent
          args:
            - --leader-elect=true
            - --metrics-bind-address=:8080
            - --health-probe-bind-address=:8081
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          ports:
            - name: metrics
              containerPort: 8080
              protocol: TCP
            - name: health
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 128Mi
